# ICO Data object example

In [1]:
import ICO
import os
import pandas as pd
import time

The `Data` object is initialized with the path to the directory of .pickle files. On creation it reads in the pickle files, but does not transform the data.

In [2]:
data = ICO.Data(os.getcwd()+'/ICO_data/')

The `data` object can be accessed like a dictionary to the underlying `Dataframes`. These will be transformed on their first access into a normalized form. (This might take awhile for the first access)

In [3]:
start = time.time()
data["all_encounter_data"]
print(time.time() - start)

131.20881319

In [4]:
data["all_encounter_data"].describe(include='all')

,Enc_Date,Person_Nbr,Primary_Payer,Smoking_Status,MR_OD_SPH,MR_OD_CYL,MR_OD_AXIS,MR_OD_DVA,MR_OD_NVA,MR_OS_SPH,...,Glucose,ME,MNPDR,DM,SNPDR,Glaucoma_Suspect,mNPDR,Open_angle_Glaucoma,PDR,Cataract
count,61862,6.186200e+04,61862,57359,24558,23803,19179,23300,17456,24541,...,29576.000000,61862,61862,61862,61862,61862,61862,61862,61862,61862
unique,51745,NaN,86,9,190,66,249,290,219,194,...,NaN,2,2,2,2,2,2,2,2,2
top,2016-05-23 06:15:00,NaN,Medicare,Never smoker,PL,Sph,090,20/20,20/20,PL,...,NaN,False,False,False,False,False,False,False,False,False
freq,5,NaN,23199,30865,2283,4597,2674,12685,11384,2283,...,NaN,59054,59850,32358,60955,51093,58067,52221,58186,45829
first,2011-10-28 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2016-11-03 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,5.231971e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,137.962706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,3.011000e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.495962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,3.300000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2.626995e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,108.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,5.159770e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,126.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,7.823740e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,154.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,1.048528e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12125.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
start = time.time()
data["all_person_data"]
print(time.time() - start)

34.309666872

In [6]:
data["all_person_data"].describe(include='all')

,DOB,Gender,Race,A1C,BMI,Glucose,BP_Systolic,BP_Diastolic,Last_Encounter,DM,ME,MNPDR,PDR,SNPDR,mNPDR,Glaucoma_Suspect,Open_angle_Glaucoma,Cataract,Age
count,16039,16039,16039,5265.000000,6672.000000,10807.000000,14572.000000,14572.000000,16039,16039,16039,16039,16039,16039,16039,16039,16039,16039,16039.000000
unique,10735,3,10,NaN,NaN,NaN,NaN,NaN,15051,2,2,2,2,2,2,2,2,2,NaN
top,1961-03-18 00:00:00,F,Black or African American,NaN,NaN,NaN,NaN,NaN,2016-04-21 15:15:00,True,False,False,False,False,False,False,False,False,NaN
freq,7,10236,9780,NaN,NaN,NaN,NaN,NaN,4,13321,15021,15099,14999,15689,13872,12439,14554,9170,NaN
first,1901-01-06 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-10-31 15:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,1998-03-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-11-03 23:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,8.330038,36.173776,142.131794,134.775534,78.588352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.390423
std,NaN,NaN,NaN,11.521023,282.134384,126.564079,19.190534,11.886569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.806935
min,NaN,NaN,NaN,0.000000,0.180000,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.000000
25%,NaN,NaN,NaN,6.300000,27.020000,110.000000,122.000000,71.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.000000
50%,NaN,NaN,NaN,7.000000,31.380000,130.000000,133.000000,78.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.000000
75%,NaN,NaN,NaN,8.200000,36.792500,160.000000,145.041667,85.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.000000
max,NaN,NaN,NaN,236.200000,23055.560000,12125.000000,284.000000,428.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114.000000